.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.firstColumnItemParent {
  background: #ccc;
  width: 100% !important;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.firstColumnItem {
  /* background: #ccc; */
  padding: 8px 8px;
  width: 100%;
  height: 100%;
}

.firstColumnItem .secondColumnItem {
  /* width: 33%; */
  background: #fff;
  padding: 35px 30px 20px;
  background: url("./images/pt_bg.56bc6ae58dcf90fc6045.png") no-repeat;
  background-size: 100% 100%;
}
.firstColumnItem .secondColumnItem .secondColumnItem1stRow1stItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.firstColumnItem .secondColumnItem .secondColumnItem1stRow1stItem .logo {
  width: 60px;
  max-width: 100%;
}
.firstColumnItem .secondColumnItem .secondColumnItem1stRow1stItem .logo img {
  width: 100%;
  max-width: 100%;
}

.firstColumnItem .secondColumnItem .secondColumnItem1stRow2ndItem .name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 30px;
  line-height: normal;
  /* font-family: Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.firstColumnItem .secondColumnItem .secondColumnItem1stRow2ndItem .destination {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages {
  margin-bottom: 10px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .businessImagesInner {
  width: 160px;
  height: 42px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .businessImagesInner
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .stores {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .stores
  a:first-child {
  display: block;
  margin-right: 20px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .stores
  a {
  width: 90px;
  height: 28px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .businessImages
  .stores
  a
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .socialParent {
  margin-top: 30px;
  margin-bottom: 10px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .socialParent
  .socialListItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .socialParent
  .socialListItem
  svg {
  max-width: 30px;
  min-width: 30px;
  font-size: 1.25em;
  text-align: center;
  margin: 1px 0 0 -5px;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .socialParent
  .socialListItem
  a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .socialParent
  .socialListItem
  span {
  color: #000;

  font-size: 1em;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.firstColumnItem .secondColumnItem .secondColumnItem1stRow2ndItem .buttons {
  margin-bottom: 10px;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
  margin-top: 30px;
}

.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .buttons
  a:first-child {
  margin-right: 30px;
}
.firstColumnItem .secondColumnItem .secondColumnItem1stRow2ndItem .buttons a {
  text-decoration: none;
}
.firstColumnItem
  .secondColumnItem
  .secondColumnItem1stRow2ndItem
  .buttons
  a
  button {
  border-radius: 8px;
  background-color: #f38020;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
  font-size: 0.8125em;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.firstColumnItem .thirdColumnItem .proContact {
  color: #818286;
  text-align: center;
  font-size: 0.75em;
  margin-top: 10px;
  line-height: normal;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.firstColumnItem .thirdColumnItem {
  width: 96.5%;
}
.firstColumnItem .thirdColumnItem .proContact a {
  text-decoration: none;
  color: #4cb3b0;
}
